{{#> layout}}
  {{#*inline "content"}}
    <p class="message">
      Hallo {{firstName}} {{lastName}},
      <br />
      <br />
      wir haben eine Anfrage erhalten, dein Passwort zurückzusetzen.<br />
      Falls du diese Anfrage nicht gesendet hast, kannst du diese Nachricht einfach ignorieren. Andernfalls kannst du dein Passwort zurücksetzen.
    </p>

    <a href="{{tokenUrl}}" target="_blank" class="btn">
      Dein Passwort zurücksetzen
    </a>
  {{/inline}}
{{/layout}}