<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Dein Passwort zurücksetzen</title>
  <style>
    h1 {
      font-size: 42px;
      color: #718096;
      margin-bottom: 36px;
    }
    .message {
      font-size: 21px;
      color: #4A5568;
      margin-bottom: 20px;
    }
    .signature {
      font-size: 14px;
      color: #718096;
    }
    .btn {
      display: block;
      width: 100%;
      max-width: 320px;
      height: 40px;
      border-radius: 12px;
      background: linear-gradient(95deg, #319795 0%, #3182CE 100%);
      color: #E6FFFA;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      margin-bottom: 32px;
      text-decoration: none;
    }
    .sender, hr {
      margin-bottom: 20px;
    }
    hr {
      height: 1px;
      color: #CBD5E0;
      background-color: #CBD5E0;
      border: none;
    }
  </style>
</head>

<body class="">
  <h1>tomisha</h1>

  <p class="message">
    Hallo {{firstName}} {{lastName}},
    <br />
    <br />
    wir haben eine Anfrage erhalten, dein Passwort zurückzusetzen.<br />
    Falls du diese Anfrage nicht gesendet hast, kannst du diese Nachricht einfach ignorieren. Andernfalls kannst du dein Passwort zurücksetzen.
  </p>

  <a href="{{tokenUrl}}" target="_blank" class="btn">
    Dein Passwort zurücksetzen
  </a>

  <p class="sender">
    Danke!<br />
    Dein Tomisha-Team
  </p>

  <hr>

  <p class="signature">
    Copyright © 2020 Tomisha. Alle Rechte vorbehalten.
    <br />
    <br />
    Mit ❤ von Tomisha versendet<br />
    Tomisha, Thomas Hungerbühler,<br />
    Brühlbergstrasse 11, 8400 Winterthur, Schweiz
  </p>
</body>

</html>